# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Node / build
node_modules/
dist/
build/
.cache/

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local

# Originais não otimizados (mantenha em pasta separada se quiser versionar)
photos/originals/
*.RAW
*.CR2
*.NEF
